.App {
  text-align: start;
}
.appInputMenu {
  border: 2px solid black;
  width: 400px;
  padding: 10px;
}
.body {
  background-color: rgb(153, 153, 194);
}

button {
  background-color: darkgrey;
}
